@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Roboto+Serif:wght@300&display=swap');

footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Noto Serif Display', serif;
}

.social-media {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media img {
    width: 30px;
    height: auto;
}

.copyright {
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .social-media img {
        width: 25px;
    }
}