.menu {
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: linear 200ms;
}

.menu a:hover {
    color: #D9B36C;
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .menu {
        justify-content: space-evenly;
    }
}