.projects {
    padding: 100px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between; */
    background-color: burlywood;
    overflow-x: hidden;
}

.projects-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.projects-title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.projects-underline {
    width: 100px;
    height: 0.5px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: brown;
}

@media only screen and (max-width: 600px) {
    .projects {
        padding: 0;
        padding-top: 50px;
    }

    .projects-content {
        align-items: center;
    }

    .projects-title {
        margin-top: 20px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .projects {
        padding: 50px 20px;
    }
}
